body
{
    font-family: Arial, Helvetica, sans-serif;
}
.enlaces
{
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #8A8070;
    border-bottom: 1px solid #8A8070;
    text-align: center;
    overflow: hidden;  
}
.enlaces a
{
    margin-inline-start: 20px;  
}
.general
{
    margin-left: 10%;
    margin-right: 10%;
}
.personal
{
    margin: 20px;
    margin-left: 250px;
    height: 50%;
    width: 15%;
    display: block;
    float: left;
}
figure
{
    text-align: center;  
}
.blog
{
    text-align: center;
    border: 1px solid gainsboro;
    background-color:gainsboro;
}
.platos
{

    margin: 20px;
    height: 30%;
    width: 30%;
    display: inline-block;
}
.nombre
{
    text-align: center;
}
.fecha
{
    text-align: center;  
    border-top: 1px solid #7ABA96;
    border-bottom: 1px solid #7ABA96;
}
.apuntame
{
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;  
    background-color: #7ABA96;
}
.logo
{
    text-align: center;
}
.clear
{
    clear: both;
}
.contacto
{
    height: 100px;
    line-height: 100px;
    background-color:  rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
}
.contacto a
{
    margin-inline-start: 50px;  
}
.enlaces a:link 
{
    color: black;
    text-decoration:none;
} 
.enlaces a:visited 
{
    color: black;
    text-decoration:none;
} 
.enlaces a:hover
{
    color: #7ABA96;
}
.apuntame a:link 
{
    color: black;
    text-decoration:none;
} 
.apuntame a:visited 
{
    color: black;
    text-decoration:none;
}
.apuntame a:hover
{
    text-decoration:underline;
}
.nombre a:link 
{
    color: black;
    text-decoration:none;
} 
.nombre a:visited 
{
    color: black;
    text-decoration:none;
}
.nombre a:hover
{
    color: #8A8070;
} 
.contacto a:link 
{
    color: white;
    text-decoration:none;
} 
.contacto a:visited 
{
    color: white;
    text-decoration:none;
} 
.contacto a:hover
{
    color: #7ABA96;
}